.shoppingBagContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.2rem;
    z-index: 12;
    .ItemCountContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 1s;

        .square {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            width: 1.6rem;
            height: 1.46rem;
            margin-bottom: 0.01rem;
            border-bottom-left-radius: 0.2rem;
            border-bottom-right-radius: 0.2rem;
            border-top-right-radius: 0.1rem;
            border-top-left-radius: 0.1rem;
            padding-left: 1rem;
            padding-right: 1rem;

            .itemCount {
                color: white;
                z-index: 10;
                font-size: 0.8rem;
                font-weight: 600;
            }
        }
        .triangle {
            width: 1rem;
            height: 1rem;
            transform: rotate(45deg);

            background-color: black;
            margin-left: -0.8rem;
        }
    }
}
img {
    font-family: inherit;
    z-index: 10;
    width: 1.585rem;
    border: none;
    background-color: none;
}
