.homeMain {
    background-image: url(../../assets/homeBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100svh;
    min-width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    padding: 4rem;

    display: flex;
    justify-content: flex-start;
    .homeSection {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 10px;
        background-color: rgb(237, 236, 236);
        padding: 1rem;
        a,
        a:visited,
        a:link {
            font-size: 2rem;
            text-decoration: none;
            color: black;
            border: 1px solid black;
            border-radius: 10px;
            padding: 1rem;
            font-size: 1rem;
            font-weight: 600;
            width: 10rem;
        }
        a:hover {
            background-color: rgb(230, 229, 229);
        }
    }
}

@media (min-width: 768px) {
    .homeMain {
        min-height: 100svh;

        .homeSection {
            padding: 2rem;
            border-radius: 10px;
            background-color: rgb(237, 236, 236);
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 1.2rem;
            }
            a,
            a:visited,
            a:link {
                font-size: 1.8rem;
                text-decoration: none;
                color: black;
                border: 1px solid black;
                border-radius: 10px;
                width: 15rem;
            }
        }
    }
}

@media (min-width: 890px) {
    .homeMain {
        min-height: 100svh;

        .homeSection {
            margin-left: 10%;
        }
    }
}

@media (min-width: 1445px) {
    .homeMain {
        min-height: 100svh;
    }
}
