.homeMain {
    .homeSection {
        background-image: url(../../assets/homeBg.jpg);
        background-size: cover;
        background-position: 50%;
        min-height: 100svh;
        padding: 160px 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}
